torch==2.8.0
torchaudio==2.8.0
numpy==1.26.4
transformers==4.51.3
scipy==1.16.3
scikit-learn==1.7.2
hydra-core
einops
loguru
pyrootutils
vector_quantize_pytorch==1.14.24
einx==0.2.2
librosa
soundfile==0.14.0
fastapi==0.142.2
uvicorn==0.54.0
pydantic==2.9.2
ormsgpack
cachetools
tiktoken
natsort
huggingface-hub==0.36.2
resampy
protobuf>=3.20,<6
lightning
rich
loralib
